.tech-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 260px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  transition: 0.5s;
}

.tech-note {
  width: 95%;
  min-height: 60px;
  padding: 8px;
  margin-top: 12px;
  resize: none;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.tech-note:focus {
  outline: none;
}

.tech-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.tech-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.tech-desc {
  font-size: 14px;
  color: #666;
}

/* Стили статусов*/
.status-completed {
  border-left: 6px solid #4caf50;
}

.status-in-progress {
  border-left: 6px solid #ff9800;
}

.status-not-started {
  border-left: 6px solid #f44336;
}

.status-error {
  border-left: 6px solid #bababa;
}
